<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appster.dentamatch"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".DentaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFd7-rEbUH1ITYOXIXdlZvnYfnNgLmQas"/>

        <!--
        <activity android:name=".MainActivity">
            <intent-filter>
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.appster.dentamatch.ui.auth.SwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".ui.common.SplashActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

            android:screenOrientation="userPortrait"
            android:theme="@style/NoActionBar">

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.auth.AppIntroActivity" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "www.vconnect.com" -->
                <data
                    android:host="www.vconnect.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.CreateProfileActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.CreateProfileActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.profile.WorkExperienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.profile.ViewAndEditWorkExperienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.profile.WorkExpListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.WorkExperienceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            />
        <activity
            android:name=".ui.termsnprivacy.TermsAndConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

    </application>

</manifest>
